@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #111;


}
h1{
    text-decoration: underline;
    font-size: 60px;
    font-weight: 600;
    top:50vh;
    left: 50vw;
    color:aliceblue
}